<h2>All Products Display here....</h2>

<!-- there are 3 ways to redirect tshirt and trouser component -->
<!-- <a routerLink="tshirts">Tshirts</a><br>
<a routerLink="trousers">Trouser</a><br> -->

<!-- <button class="btn btn-primary" routerLink="tshirts">Tshirts</button>&nbsp;&nbsp;
<button class="btn btn-danger" routerLink="trousers">Trouser</button><br> -->

<button class="btn btn-primary" (click)="showTshirts()">Tshirts</button>&nbsp;&nbsp;
<button class="btn btn-danger" (click)="showTrousers()">Trouser</button><br>
<router-outlet></router-outlet>